{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} &middot; Incident #{{ incident.id }} &middot; {{ incident.message }}{% endblock %}

{% block currentPage %}applications{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block topBarLeft %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-8 col-md-8">

            <span class="vnd-bigtext vnd-font-600">
                <span class="pull-right">
                    <a href="{{ path('incidents_silence', {incidentId: incident.id}) }}">
                        {% if app_get_incident_is_silent(incident)|default(false) %}
                            Silent <i class="fa fa-volume-off"></i>
                        {% else %}
                            <i class="fa fa-volume-up"></i>
                        {% endif %}
                    </a>
                </span>
                {{ incident.message }}
            </span>

            <span class="vnd-bulb" style="background-color: #{{ incident.application.colorHex }};">##</span>
            Incident
            <span class="vnd-slight-glow">#{{ incident.id }}</span>
            on
            <span class="vnd-slight-glow">
                <a href="{{ path('applications_object', {applicationId: incident.application.id}) }}">
                    {{ incident.application.name }}
                </a>
            </span>

            <hr>

            <span class="vnd-descriptive-label vnd-font-600">
                Incident Data
            </span>

            <table class="table table-bordered vnd-table">
                <tr>
                    <td>Occurred</td>
                    <td>
                        <span class="vnd-moment-ago vnd-slight-glow vnd-info" data-toggle="tooltip" data-placement="top" title="{{ incident.occurrence|date('Y-m-d H:i:s') }}">
                            {{ incident.occurrence|date('Y-m-d H:i:s') }}
                        </span>
                    </td>
                </tr>
                {% if incident.class != null %}
                    <tr>
                        <td>Threw</td>
                        <td><span class="vnd-slight-glow">{{ incident.class }}</span></td>
                    </tr>
                {% endif %}
                {% if incident.uri != null %}
                    <tr>
                        <td>On</td>
                        <td><span class="vnd-slight-glow vnd-danger">{{ incident.uri }}</span></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Client</td>
                    <td><span class="vnd-slight-glow vnd-warning">{{ incident.ip }}</span></td>
                </tr>
            </table>

            {% if incident.trace|length() > 0 %}
                <span class="vnd-descriptive-label vnd-font-600">
                    Trace
                </span>

                <div>
                    <pre>{{ incident.trace|format_trace|raw }}</pre>
                </div>
            {% endif %}

            <div>
                <span class="vnd-descriptive-label vnd-font-600">
                    Related Incidents
                </span>

                {% include('_incidents.html.twig') %}

            </div>

        </div>
        <div class="col-lg-4 col-md-4">

            <div>
                <span class="vnd-descriptive-label vnd-font-600">
                    Last 24 Hours
                </span>

                <span class="inlinesparkline sparkdata-24h">
                    {{ app_get_incident_count_24h(incident)|join(',') }}
                </span>
            </div>

            <div>
                <span class="vnd-descriptive-label vnd-font-600">
                    Last 14 Days
                </span>

                <span class="inlinesparkline sparkdata-14d">
                    {{ app_get_incident_count_14d(incident)|join(',') }}
                </span>
            </div>

            <div>
                <span class="vnd-descriptive-label vnd-font-600">
                    First seen
                </span>

                <span class="vnd-moment-ago vnd-slight-glow" data-toggle="tooltip" data-placement="top" title="{{ firstSeen.occurrence|date('d.m.Y H:i:s') }}">
                    {{ firstSeen.occurrence|date('Y-m-d H:i:s') }}
                </span>
                in
                <span class="vnd-slight-glow">
                    <a href="{{ path('applications_object', {applicationId: lastSeen.application.id}) }}">
                        {{ firstSeen.application.name }}
                    </a>
                </span>
            </div>

            <div>
                <span class="vnd-descriptive-label vnd-font-600">
                    Last seen
                </span>

                <span class="vnd-moment-ago vnd-slight-glow" data-toggle="tooltip" data-placement="top" title="{{ lastSeen.occurrence|date('d.m.Y H:i:s') }}">
                    {{ lastSeen.occurrence|date('Y-m-d H:i:s') }}
                </span>
                in
                <span class="vnd-slight-glow">
                    <a href="{{ path('applications_object', {applicationId: lastSeen.application.id}) }}">
                        {{ lastSeen.application.name }}
                    </a>
                </span>
            </div>

            {% if incident.heartbeat is not null %}
                <div>
                    <span class="vnd-descriptive-label vnd-font-600">
                        Heartbeat
                    </span>

                    <span class="vnd-slight-glow">
                        <a href="{{ path('applications_heartbeat', {applicationId: incident.application.id}) }}#hb{{ incident.heartbeat.id }}">
                            {{ incident.heartbeat.ip }}
                            {% if incident.heartbeat.alias is not null %}
                                ({{ incident.heartbeat.alias }})
                            {% endif %}
                        </a>
                    </span>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
