<table class="table table-bordered vnd-table">
    <tr class="active">
        <th style="border-left: 4px solid black;"></th>
        <th class="text-right">STATUSCODE</th>
        <!-- <th class="text-right vnd-th-toggles vnd-appgraph-toggles">
            <a class="active" href="#" data-toggle="24h">24h</a>
            <a href="#" data-toggle="14d">14d</a>
        </th> -->
        <th class="text-right">EVENTS</th>
    </tr>

    {% for incident in incidents %}
        <tr class="tr-incident{% if app_get_incident_is_silent(incident)|default(false) %} silent{% endif %}">
            <td style="line-height: 26px; border-left: 4px solid #{{ incident.application.colorHex }};">
                <span class="vnd-font-600 vnd-block">
                    <a href="{{ path('incidents_detail', {incidentId: incident.id}) }}">{{ incident.message }}</a>
                </span>

                <span class="vnd-block">
                    {% if incident.class != null %}
                        <span class="vnd-slight-glow">{{ incident.class }}</span>
                    {% endif %}
                    {% if incident.uri != null %}
                        <span class="vnd-font-300">on</span>
                        <span class="vnd-slight-glow vnd-danger">{{ incident.uri }}</span>
                    {% endif %}
                    <span class="vnd-font-300">from</span>
                    <span class="vnd-slight-glow vnd-warning">{{ incident.ip }}</span>
                </span>

                <span class="vnd-block vnd-font-300">
                    <span>
                        <i class="fa fa-clock"></i>
                        <span class="vnd-moment-ago" data-toggle="tooltip" data-placement="top" title="{{ incident.occurrence|date('Y-m-d H:i:s') }}">
                            {{ incident.occurrence|date('Y-m-d H:i:s') }}
                        </span>
                    </span>
                    &middot;
                    <span class="vnd-font-400">
                        <a href="{{ path('applications_object', {applicationId: incident.application.id}) }}">{{ incident.application.name }}</a>
                    </span>
                </span>
            </td>
            <td class="text-right" style="font-size: 2em; padding-top: 23px;">
                {% if incident.statusCode == 0 %}
                    -
                {% else %}
                    {{ incident.statusCode }}
                {% endif %}
            </td>
            <!-- <td></td> -->
            <td class="text-right" style="font-size: 2em; padding-top: 23px;">
                <span><a href="{{ path('incidents_like', {incidentId: incident.id}) }}">{{ app_get_number_incident_events(incident.message) }}</a></span>
            </td>
        </tr>
    {% endfor %}
</table>
