{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} &middot; Application '{{ application.name }}'{% endblock %}

{% block currentPage %}applications{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/application.js') }}"></script>
    <script src="{{ asset('js/graphs.js') }}"></script>
{% endblock %}

{% block topBarLeft %}
    <span class="vnd-font-600">{{ application.name|upper }}</span>
    &middot;
    Incidents
    &middot;
    <code>{{ application.appKey }}</code>

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ path('applications_update', {applicationId: application.id}) }}">
                    <i class="fa fa-edit"></i>
                    Edit App
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    {% if incidents|length == 0 %}

        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">

                <div class="alert alert-warning">
                    No Incidents recorded yet!
                </div>

            </div>
        </div>

    {% else %}

        <!-- GRAPH DATA -->
        <div class="hidden" id="data-app-colors">{{ appColors }}</div>
        <div class="hidden" id="data-7days">{{ data7Days }}</div>
        <div class="hidden" id="data-exceptions">{{ dataExceptions }}</div>

        <div class="row">
            <div class="col-lg-4">
                <h4>Last 7 Days</h4>

                <canvas id="canvas-7days"></canvas>
            </div>
            <div class="col-lg-4">
                <h4>Exceptions</h4>

                <canvas id="canvas-exceptions"></canvas>
            </div>
            <div class="col-lg-4">
                <h4>Legend</h4>

                <div id="exceptions-legend"></div>
            </div>
        </div>

        <hr>

        {% include('_incidents.html.twig') %}

        <div class="navigation">
            {{ knp_pagination_render(incidents) }}
        </div>

    {% endif %}

{% endblock %}
